/* global css */

@font-face {
    font-family: "exo-local";
    src: url("../font/Exo-Black.ttf");
}

@font-face {
    font-family: "exo-local";
    src: url("../font/Exo-Bold.ttf");
}

@font-face {
    font-family: "exo-local";
    src: url("../font/Exo-ExtraBold.ttf");
}

@font-face {
    font-family: "exo-local";
    src: url("../font/Exo-Medium.ttf");
}

@font-face {
    font-family: "exo-local";
    src: url("../font/Exo-Regular.ttf");
}

@font-face {
    font-family: "exo-local";
    src: url("../font/Exo-SemiBold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "exo-local", sans-serif;
}

/*section {*/
/*    padding: 100px 0;*/
/*}*/
.bg-white {
    padding: 100px 0;
}
.bg-yellow {
    padding: 100px 0;
}
.bg-blue {
    padding: 100px 0;
}
.cv {
    padding: 130px 0;
}

footer {
    padding: 20px 0
}

.text-facebook {
    color: #3b5998 !important;
    transition: all 0.2s ease;
}

.text-linkedin {
    color: #0077B5 !important;
    transition: all 0.2s ease;
}

.text-youtube {
    color: #bb0000 !important;
    transition: all 0.2s ease;
}

.text-blue {
    color: #0072BC !important;
}

.bg-yellow {
    background-color: #FFF275 !important;
}

.bg-blue {
    background-color: #0072BC !important;
}

.bg-ligt-blue {
    background-color: #0095F6 !important;
}

.bg-light-green {
    background-color: #61CE70 !important;
}

.overlay {
    background-color: #00000078;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

/* go to top button */
#button {
    display: inline-block;
    background-color: #004979;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

/* #button::after {
    content: "\f077";
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 30px;
    color: #fff;
} */

#button:hover {
    cursor: pointer;
    background-color: #001828;
}

#button:active {
    background-color: #012e4d;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/****************************************************************************************/
/*------------------------------------- index start -------------------------------------*/
/****************************************************************************************/
/* slider */
.swiper {
    width: 100%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* our events */
.event {
    height: 350px;
    width: 100%;
    background-size: contain;
    position: relative;
    background-color: #0000003d;
}

.event img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.event p {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.event .overlay {
    opacity: 0;
}

.event:hover .overlay {
    opacity: 1;
    background-color: #2424248c;
    cursor: pointer;
}


/* recent news */
.news img {
    object-fit: cover;
}


/* counter */
.counter {}

.counter h3 {
    font-size: 60px;
}

.counter p {
    font-size: 20px;
}

/* our teams */
.team {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 50px;
}

.team img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.team .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 50px;
}

.team .content h4 {
    font-size: 2em;
}

.team .content i {
    font-size: 3em;
}


/* social following */
.social h6 {
    font-size: 1.2em;
}

.social-icon {
    font-size: 2.5em;
}

.social .text-facebook:hover {
    color: #4F6994 !important;
    transform: scale(1.1);
}

.social .text-linkedin:hover {
    color: #1A84AE !important;
    transform: scale(1.1);
}

.social .text-youtube:hover {
    color: #D23628 !important;
    transform: scale(1.1);
}

/****************************************************************************************/
/*------------------------------------- index close -------------------------------------*/
/****************************************************************************************/



/****************************************************************************************/
/*------------------------------------- about start -------------------------------------*/
/****************************************************************************************/

/* navbar bottom heading */
.navbar-bottom-heading {
    height: 200px;
    position: relative;
}

.navbar-bottom-heading img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar-bottom-heading h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* celebration */
.celebration {
    height: 400px;
    width: 100%;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.celebration img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.celebration .celebration-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 40px 20px;
    background-color: #ffffff29;
}


/****************************************************************************************/
/*------------------------------------- about close -------------------------------------*/
/****************************************************************************************/

/****************************************************************************************/
/*------------------------------------- osa start -------------------------------------*/
/****************************************************************************************/


/* profile */
.profile {
    width: 100%;
}

.profile img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ddd;

}

.profile p {}

.profile .profile-social-icon {
    position: relative;
    cursor: pointer;
}

.profile .profile-social-icon .overlay {
    border-radius: 50%;
    opacity: 0;
}

.profile .profile-social-icon img:hover {}

.profile .profile-social-icon a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    z-index: 1;
    opacity: 0;
}

.profile .profile-social-icon:hover .overlay {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.profile .profile-social-icon:hover a i {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/****************************************************************************************/
/*------------------------------------- osa close -------------------------------------*/
/****************************************************************************************/

/****************************************************************************************/
/*------------------------------------- news details start -------------------------------------*/
/****************************************************************************************/

.news-banner {
    z-index: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 500px;
}

.news-banner .bg-news {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.news-banner .overlay {
    z-index: -1;
    background-color: #000000c2;
}

.news-banner .news-banner-body {
    z-index: 22;
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
}

.news-banner .news-banner-body h2 {}

.news-banner .news-banner-body p {
    text-align: justify;
}

.share-social-icon i {
    background-color: #222222;
    color: #fff;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.share-social-icon i:hover {
    background-color: #1C1C1C;
    transform: scale(1.2)
}

/****************************************************************************************/
/*------------------------------------- news details close -------------------------------------*/
/****************************************************************************************/


/****************************************************************************************/
/*------------------------------------- events start -------------------------------------*/
/****************************************************************************************/

.programs {
    z-index: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 400px;
}

.programs img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.programs .overlay {
    z-index: -1;
}

.programs .programs-body {
    z-index: 22;
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
}

.programs .programs-body h2 {}

.programs .programs-body p {
    text-align: justify;
}

/****************************************************************************************/
/*------------------------------------- events close -------------------------------------*/
/****************************************************************************************/


/****************************************************************************************/
/*------------------------------------- team details start -------------------------------------*/
/****************************************************************************************/


/* team navbar bottom heading */
.team-navbar-bottom-heading {
    height: 200px;
    position: relative;
}

.team-navbar-bottom-heading img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team-navbar-bottom-heading h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-navbar-bottom-heading .arrow-left {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-9%, -50%);
    cursor: pointer;
    color: #fff;
    font-size: 2em;
}

.team-navbar-bottom-heading .arrow-right {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-9%, -50%);
    cursor: pointer;
    color: #fff;
    font-size: 2em;
}

.team-navbar-bottom-heading .arrow-right:hover {
    transform: translate(-9%, -50%) scale(1.2)
}

.team-navbar-bottom-heading .arrow-left:hover {
    transform: translate(-9%, -50%) scale(1.2)
}

.team-lead-profile img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

/****************************************************************************************/
/*------------------------------------- team details close -------------------------------------*/
/****************************************************************************************/

/****************************************************************************************/
/*------------------------------------- gallery details start -------------------------------------*/
/****************************************************************************************/

.gallery-details {
    cursor: pointer;
}

.gallery-details .overlay {
    opacity: 0;
}

.gallery-details:hover .overlay {
    opacity: 1;
}

/****************************************************************************************/
/*------------------------------------- gallery details close -------------------------------------*/
/****************************************************************************************/




/****************************************************************************************/
/*------------------------------- responsive design start ------------------------------*/
/****************************************************************************************/

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}


/****************************************************************************************/
/*----------------------------- responsive design close -------------------------------*/
/****************************************************************************************/





/* navigation */
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
}

.header.sticked {
    height: 70px;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: #212529;
}

.search-form-wrap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transition: 0.3s all ease;
    visibility: hidden;
    opacity: 0;
}

.search-form-wrap .search-form {
    position: relative;
}

.search-form-wrap .search-form .form-control {
    width: 300px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
    padding-right: 40px;
}

.search-form-wrap .search-form .form-control:active,
.search-form-wrap .search-form .form-control:focus {
    outline: none;
    box-shadow: none;
}

.search-form-wrap .search-form .icon {
    position: absolute;
    left: 0;
    top: 7px;
    opacity: 0.5;
    left: 10px;
}

.search-form-wrap .search-form .btn {
    position: absolute;
    top: 2px;
    right: 4px;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 30px;
}

.search-form-wrap .search-form .btn:active,
.search-form-wrap .search-form .btn:focus {
    outline: none;
    box-shadow: none;
}

.search-form-wrap.active {
    visibility: visible;
    opacity: 1;
}

section {
    scroll-margin-top: 70px;
}

/*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(33, 37, 41, 1);
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #212529;
    }

    .navbar .getstarted,
    .navbar .getstarted:focus {
        background: #212529;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }

    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
        color: #fff;
        background: rgba(33, 37, 41, 0.8);
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

    .navbar .dropdown ul li {
        min-width: 200px;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 400;
    }

    .navbar .dropdown ul a i {
        font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
        color: #212529;
    }

    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.mobile-nav-toggle {
    display: none;
}

/*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
@media (max-width: 1279px) {
    .navbar {
        padding: 0;
        z-index: 9997;
    }

    .navbar ul {
        display: none;
        position: absolute;
        inset: 55px 15px 15px 15px;
        padding: 10px 0;
        margin: 0;
        border-radius: 10px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 600;
        color: #212529;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #212529;
    }

    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background: #fff;
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
        display: block;
    }

    .mobile-nav-toggle {
        display: inline-block;
        color: #596d80;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
    }

    .mobile-nav-toggle.bi-x {
        color: #000000;
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 9999;
        color: #fff;
    }

    .mobile-nav-active .navbar {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        transition: 0.3s;
    }

    .mobile-nav-active .navbar>ul {
        display: block;
    }
}
